:root {
  --mainOpacity: rgba(0, 0, 0, 0.8);
}

html, body {
  height: 100%;
  margin: 0;
}

.home-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("./assets/img/img-papers.jpg");
  opacity: var(--mainOpacity);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-color {
  background-color: #0e76a8;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

footer {
  margin-top: auto; /* Hace que el footer siempre se quede al final */
}