:root {
  --mainOpacity: rgba(0, 0, 0, 0.8);
}

html, body {
  height: 100%;
  margin: 0;
}

.home-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("./assets/img/img-papers.jpg");
  opacity: var(--mainOpacity);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-color {
  background-color: #0e76a8;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

footer {
  margin-top: auto; /* Hace que el footer siempre se quede al final */
}

.btn-custom {
  border: none;
  cursor: pointer;
}

.table-scroll {
  max-height: 600px;
  overflow-y: auto;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .table-scroll {
    max-height: 400px;
    font-size: 0.875rem;
  }
}

@media (max-width: 576px) {
  .table-scroll {
    max-height: 400px;
    font-size: 0.8rem;
  }
}

.description-cell {
  max-width: 200px; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
}